<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Product</title>
</head>
<body>
	<section class="main-container">
		<h1>Add your product here!</h1>

		<form th:action="@{/process}" method="post" th:object="${product}">
			<label>Product Name: </label> 
			<input type="text" name="name" th:field="*{name}"><br>
			
			<label>Description: </label> 
			<input type="text" name="description" th:field="*{description}"> <br>
			
			<label>Make: </label> 
			<input type="text" name="make" th:field="*{make}"> <br>
			
			<label>Supplier: </label> 
			<input type="text" name="supplier" th:field="*{supplier}"> <br>
			
			<label>Price: </label> 
			<input type="number" name="price" th:field="*{price}"> <br>
				
				
			<input type="submit" value="Add Product"> 
				
				
		</form>

	</section>
</body>
</html>